#{extends 'main.html' /}

#{set title:'Home' /} 

#{set 'moreStyles'}
<link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet" />
#{/set}

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/" >Linked Planning</a>
			<div class="nav-collapse">
			<ul class="nav">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
			</ul>
			</div>
		</div>
	</div>


</div>
<div class="container">
	<div class="hero-unit">
		<h2>Linked Planning</h2>
		<br/>
		<p>
		is a web and mobile app that can help you
		</p>
		<ul>
		<li>Make plans</li>
		<li>Organize your work</li>
		<li>Share and link with your friends</li>
		</ul>
		
		<p>
			<a class="btn btn-primary btn-large">Try it now!</a>
		</p>
	</div>
	
	<div class="row"> 
		<div class="span4">
			<h2>Why Linked Planning</h2>
			Do you often make a plan but fail to follow it?<br/>
			OK, maybe you do not, but I do. <br/>
			I think my plan works better my friends help me <br/>
			I guess some of you are thinking just like me, so the Linked Planning was created.
			<p>
			<a class="btn" href="#">View Detail</a>
			</p>
		</div>
		<div class="span8">
		<h2>Download</h2></div>
		
	</div>
	
	<hr>
	
	<footer>
		<p>@wint lu</p>
	</footer>
</div>