#{extends 'main.html' /}

#{set title:'Home' /} 

#{set 'moreStyles'}
<link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet" />
#{/set}

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/" >Linked Planning</a>
			<div class="nav-collapse">
			<ul class="nav">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
			</ul>
			</div>
		</div>
	</div>


</div>
<div class="container">
	<div class="hero-unit">
		<div class="row">
			<div class="span6">
			<h2>Linked Planning</h2>
				<br/>
				<p>
				is a web and mobile app that can help you
				</p>
				<ul>
				<li>Make plans</li>
				<li>Organize your work</li>
				<li>Share and link with your friends</li>
				</ul>
				
				<p>
					<a class="btn btn-primary btn-large">Try it now!</a>
				</p>
			</div>
			<div class="span4">
				<div>
					
				</div>
				<div>
					#{if me}
						<h2>You are ${me.get("openid")}</h2>
					#{/if}
					#{else}
						<a class="" href="@{auth()}"><img alt="Login with QQ" src="/public/images/connect_logo_qq.png"></a>
					#{/else}
				</div>
			</div>
		</div>
	</div>
	
	<div class="row"> 
		<div class="span4">
		 &nbsp;
		</div>
		<div class="span4">
			<a class="btn btn-success btn-larger disabled">Download Android client<br/>(when it is released...)</a>
		</div>
		<div class="span4">
		</div>
	</div>
	<hr>
	
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<g:plusone></g:plusone>

	
	<footer>
		<p>@wint lu 2012</p>
	</footer>
</div>